<nav class="navbar navbar-expand-lg d-flex justify-content-between navbar-dark">
  <div class="ms-5">
    <a class="navbar-brand" href="#">Mevolve</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end ms-5 me-4" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact us</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container my-5">
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
      <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row text-center align-items-center">
          <div class="col-12 col-md-6">
            <h4>Automate self-development</h4>
            <p class="text-muted">Evolve daily by efficiently managing your time, thoughts,
              tasks and routines in a simple app.</p>
            <button class="btn btn-primary">
              <img height="14px" class="mb-1" src="../assets/images/arrow.svg"> Watch video</button>
            <div class="mt-3">
              <img class="me-3" src="../assets/images/appleLink.svg" alt="Apple store">
              <img src="../assets/images/GoogleLink.svg" alt="Play store">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <img src="../assets/images/sliderImg.svg" alt="First slide">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row text-center align-items-center">
          <div class="col-12 col-md-6">
            <h4>Automate self-development</h4>
            <p class="text-muted">Evolve daily by efficiently managing your time, thoughts,
              tasks and routines in a simple app.</p>
            <button class="btn btn-primary">
              <img height="14px" class="mb-1" src="../assets/images/arrow.svg"> Watch video</button>
            <div class="mt-3">
              <img class="me-3" src="../assets/images/appleLink.svg" alt="Apple store">
              <img src="../assets/images/GoogleLink.svg" alt="Play store">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <img src="../assets/images/sliderImg.svg" alt="First slide">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row text-center align-items-center">
          <div class="col-12 col-md-6">
            <h4>Automate self-development</h4>
            <p class="text-muted">Evolve daily by efficiently managing your time, thoughts,
              tasks and routines in a simple app.</p>
            <button class="btn btn-primary">
              <img height="14px" class="mb-1" src="../assets/images/arrow.svg"> Watch video</button>
            <div class="mt-3">
              <img class="me-3" src="../assets/images/appleLink.svg" alt="Apple store">
              <img src="../assets/images/GoogleLink.svg" alt="Play store">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <img src="../assets/images/sliderImg.svg" alt="First slide">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid mt-5">
    <div class="container text-center">
      <h6 class="mb-4">One App To Rule Them All</h6>
      <div class="row align-items-center justify-content-center">
        <div class="col-6 col-md-2">
          <div class="card py-3 my-3">
            <img height="40" src="../assets/images/item1.svg" alt="Card image">
            <h6 class="card-title mt-3">To-Do List</h6>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="card py-3 my-3">
            <img height="40" src="../assets/images/item2.svg" alt="Card image">
            <h6 class="card-title mt-3">Habit Tracker</h6>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="card py-3 my-3">
            <img height="40" src="../assets/images/item3.svg" alt="Card image">
            <h6 class="card-title mt-3">Journaling</h6>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="card py-3 my-3">
            <img height="40" src="../assets/images/item4.svg" alt="Card image">
            <h6 class="card-title mt-3">Notes</h6>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="card py-3 my-3">
            <img height="40" src="../assets/images/item5.svg" alt="Card image">
            <h6 class="card-title mt-3">Lists</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-12 col-md-6 text-center">
      <img src="../assets/images/iPhone1.svg">
    </div>
    <div class="col-12 col-md-6">
      <div class="mx-4">
        <h4>Customize the way you like</h4>
        <div class="card card-limited mt-4">
          <div class="card-body">
            <h6 class="card-title card-special d-flex align-items-center">
              <img src="../assets/images/toggle.svg" class="me-2"> Turn Off-On the features
            </h6>
            <p class="card-subtitle text-muted mt-2">Mevolve was developed to help you reach your goals and be more
              consistent.</p>
          </div>
        </div>
        <div class="card card-limited my-4">
          <div class="card-body">
            <img src="../assets/images/icon1.svg"> Light and Dark mode
          </div>
        </div>
        <div class="card card-limited">
          <div class="card-body">
            <img src="../assets/images/icon2.svg"> Multi-theme colors
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      <div class="mx-4">
        <h4 class="mt-4">Customize the way you like</h4>
        <div class="card card-limited mt-4">
          <div class="card-body">
            <h6 class="card-title card-special d-flex align-items-center">
              <img src="../assets/images/toggle.svg" class="me-2"> Turn Off-On the features
            </h6>
            <p class="card-subtitle text-muted mt-2">Mevolve was developed to help you reach your goals and be more
              consistent.</p>
          </div>
        </div>
        <div class="card card-limited my-4">
          <div class="card-body">
            <img src="../assets/images/icon1.svg"> Light and Dark mode
          </div>
        </div>
        <div class="card card-limited">
          <div class="card-body">
            <img src="../assets/images/icon2.svg"> Multi-theme colors
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 text-center">
      <img src="../assets/images/phone2.svg">
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-12 col-md-6 text-center">
      <img src="../assets/images/feature1.svg">
    </div>
    <div class="col-12 col-md-6">
      <div class="mx-4">
        <h4>Customize the way you like</h4>
        <div class="card card-limited mt-4">
          <div class="card-body">
            <h6 class="card-title card-special d-flex align-items-center">
              <img src="../assets/images/toggle.svg" class="me-2"> Turn Off-On the features
            </h6>
            <p class="card-subtitle text-muted mt-2">Mevolve was developed to help you reach your goals and be more
              consistent.</p>
          </div>
        </div>
        <div class="card card-limited my-4">
          <div class="card-body">
            <img src="../assets/images/icon1.svg"> Light and Dark mode
          </div>
        </div>
        <div class="card card-limited">
          <div class="card-body">
            <img src="../assets/images/icon2.svg"> Multi-theme colors
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center my-5">
    <div class="col-12 col-md-6 text-center">
      <img src="../assets/images/feature2.svg" height="300px" width="350px">
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center">
      <div class="mx-4">
        <h4>Customize the way you like</h4>
        <ul class="mt-3">
          <li class="text-muted">Turn Off-On the features that you want to use</li>
          <li class="text-muted">Light and Dark theme</li>
          <li class="text-muted">Multi-theme colors</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row align-items-center mb-5">
    <div class="col-12 col-md-6 d-flex justify-content-center">
      <div class="mx-4">
        <h4>Customize the way you like</h4>
        <ul class="mt-3">
          <li class="text-muted">Turn Off-On the features that you want to use</li>
          <li class="text-muted">Light and Dark theme</li>
          <li class="text-muted">Multi-theme colors</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 text-center">
      <img src="../assets/images/feature3.svg" height="300px">
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <img src="../assets/images/thumbnail.svg" width="350px">
      <p class="mt-3 text-muted">Watch Mevolve demo video to understand
        the application.</p>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid mt-5">
    <div class="container text-center">
      <h4 class="mb-3">Choose the best plan for you</h4>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">$0</h4>
              <p class="card-subtitle text-muted">Free</p>
              <p class="text-muted">(For 30 days)</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">$3.99</h4>
              <p class="card-subtitle text-muted">Per month</p>
              <p class="text-muted">(Monthly Billing)</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">$2.99</h4>
              <p class="card-subtitle text-muted">Per Year</p>
              <p class="text-muted">(Yearly Billing)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-center">What we offer</h4>
              <div class="mt-3 ms-5">
                <p class="d-flex align-items-center">
                  <img src="../assets/images/iconList1.svg" class="me-2">
                  Add Todos, Habits, Journals and Notes in a single app.
                </p>
                <p class="d-flex align-items-center">
                  <img src="../assets/images/iconList2.svg" class="me-2">Four types of Habit Tracking.
                </p>
                <p class="d-flex align-items-center">
                  <img src="../assets/images/iconList3.svg" class="me-2">Track Todos, Habits, Journals and Notes with
                  daily values.
                </p>
                <p class="d-flex align-items-center">
                  <img src="../assets/images/iconList4.svg" class="me-2">Update your Mood and Pictures in Journal and
                  Notes section.
                </p>
                <p class="d-flex align-items-center">
                  <img src="../assets/images/iconList5.svg" class="me-2">Customize the app color.
                </p>
                <p class="d-flex align-items-center">
                  <img src="../assets/images/iconList6.svg" class="me-2">Notification and Reminders.
                </p>
                <p class="d-flex align-items-center">
                  <img src="../assets/images/iconList7.svg" class="me-2">Lock Pin
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="jumbotron jumbotron-fluid my-5">
    <div class="container">
      <h4 class="my-3 text-center">Get in touch</h4>
      <p class="mb-3 text-muted text-center">Our friendly team would love to hear from you !</p>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <form>
                <div class="form-group col-12">
                  <label for="FormControlInput1" class="mb-2">Your Name</label>
                  <input type="text" class="form-control" id="FormControlInput1" placeholder="e.g, Joseph">
                </div>
                <div class="form-group mt-3">
                  <label for="FormControlInput1" class="mb-2">Your Email</label>
                  <input type="email" class="form-control" id="FormControlInput1" placeholder="e.g, joseph687@gmail.com">
                </div>
                <div class="form-group mt-3">
                  <label for="FormControlTextarea1" class="mb-2">Message</label>
                  <textarea class="form-control" id="FormControlTextarea1" rows="3"
                    placeholder="Let tell us about your thoughts on this..."></textarea>
                </div>
                <div class="d-flex justify-content-center w-100 mt-4">
                  <button class="btn btn-primary btn-submit">
                    Send message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="text-center text-lg-start bg-dark text-white py-2">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <img src="../assets/images/mevoleLogo.svg">
          </h6>
          <p class="footer-text">
            Evolve daily by efficiently managing your time, thoughts, tasks and routines in a simple app.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4 footer-text">
            Sitemap
          </h6>
          <p>About us</p>
          <p>Services</p>
          <p>Blog</p>
          <p>Team</p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4 footer-text">
            Product
          </h6>
          <p>Pricing</p>
          <p>Feature</p>
          <p>Customer</p>
          <p>Feedback</p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4 footer-text">
            Legal
          </h6>
          <p>Terms & condition</p>
          <p>Privacy policy</p>
          <p>License</p>
          <p>Security</p>
        </div>
      </div>
    </div>
  </section>
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-top container">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <img src="../assets/images/smIcons.svg">
    </div>
  </section>
</footer>
