:root {
    --main-bg-color: #1DA1F2;
    --footer-text: #949C9E;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar {
    color: #FFFFFF;
    background-color: var(--main-bg-color);
}

#navbarSupportedContent > ul > li.nav-item.active {
    border-bottom: 5px solid #FFFFFF;
    border-radius: 3px 3px 0px 0px;
}

@media only screen and (max-width: 1366px) {
    #navbarSupportedContent>ul>li.nav-item:not(:last-child) {
        border-bottom: 1px solid #FFFFFF;
        border-radius: 3px 3px 0px 0px;
    }
}

.card-body {
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.02), -4px -4px 40px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
}

button {
    background-color: var(--main-bg-color) !important;
    border: none !important;
}

.card-special {
    color: var(--main-bg-color) !important;
}

.card-limited {
    max-width: 44rem !important;
}

form {
    padding: 10px;
}

.btn-submit {
    width: 300px;
}

.footer-text {
    color: var(--footer-text);
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    color: var(--footer-text);
}

.carousel-indicators li:first-child {
    color: var(--main-bg-color);
}
